@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src:
        local('Roboto'),
        local('Roboto-Black'),
        url('/fonts/RobotoBlack.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        local('Roboto'),
        local('Roboto-Regular'),
        url('/fonts/RobotoRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        local('Roboto'),
        local('Roboto-Bold'),
        url('/fonts/RobotoBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
        local('Roboto'),
        local('Roboto-Medium'),
        url('/fonts/RobotoMedium.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src:
        local('Roboto'),
        local('Roboto-Light'),
        url('/fonts/RobotoLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src:
        local('Roboto'),
        local('Roboto-Thin'),
        url('/fonts/RobotoThin.woff2') format('woff2');
}

body {
    padding: 10px;
    max-height: 100vh;
    overflow: hidden;
    background-color: #257d65;
}
